/* .icon-bar {
    width: 90px; 
    background-color: #555; 
  }
  
  .icon-bar a {
    display: block; 
    text-align: center; 
    padding: 16px; 
    transition: all 0.3s ease; 
    color: white; 
    font-size: 36px; 
  }
  
  .icon-bar a:hover {
    background-color: #000; 
  }
  
  .active {
    background-color: #04AA6D; 
  } */

  .icon-bar {
    width: 100%; 
    background-color: #262626; 
    overflow: auto; 
  }
  
  .icon-bar a {
    float: left; 
    text-align: center; 
    width: 20%; 
    padding: 12px 0; 
    transition: all 0.3s ease; 
    color: #ffffff7e; 
    font-size: 36px; 
  }
  
  .icon-bar a:hover {
    color: #fff; 
  }
  
  .active {
    background-color: #8710D8;
    color: #fff; 
  }